<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
<header th:replace="~{fragments::standardHeader}"></header>
<h1>Add a New Assignee:</h1>
<form action="#" th:action="@{/addAssignee}" th:object="${newAssignee}" method="post">
    <p>Assignee name:
        <input type="text" th:field="*{name}" required/>
    </p>
    <p>Assignee email:
        <input type="email" th:field="*{email}" required/>
    </p>
        <button type="submit">Create new Assignee</button>
        <button type="reset">Reset</button>
    </p>
</form>

</body>
</html>