<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
<header th:replace="~{fragments::standardHeader}"></header>
<h1>Add a New Task:</h1>
<form action="#" th:action="@{/addTask}" th:object="${newTask}" method="post">
    <p>Todo description:
        <input type="text" th:field="*{title}" required/>
    </p>
    <p>Is it urgent? </br>
        Urgent<input type="radio" th:field="*{urgent}" th:value=true/>
        Not Urgent<input type="radio" th:field="*{urgent}" th:value=false />
    </p>
    <p>
        <button type="submit">Submit new task</button>
        <button type="reset">Reset</button>
    </p>
</form>

</body>
</html>