<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="standardHeader">
    <form action="/" method="get">
        <button type="submit">All tasks</button>
        <button type="submit" name="isActive" value=true >Active tasks</button>
        <button type="submit" name="isActive" value=false >Completed tasks</button>
    </form>
    <form action="/addTask" method="get">
        <button type="submit">Add New Task</button>
    </form>
</header>
</body>
</html>