body {

    justify-content: center; /*  main axis  */
    width: 800px;
    margin: auto;
}

header {
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

.headerText {
    margin-bottom: 20px;
    border-bottom: 2px solid #0069D9;
    padding: 0px;
}

h1 {
    color: #0069D9;
    font-weight: bolder;
}

.btn {
    background-color: #F44336;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    border-color: #F44336;
}

.headerButtons {
    display: flex;
    justify-content: space-between; /*  main axis  */
}

table {
    margin: auto;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

td, th, table {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 12px;
}

th {
    background-color: #0069D9;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    color: whitesmoke;
    border: 2px solid white;
    border-bottom: 3px solid white;
    width: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

tr:nth-child(even) {
    background-color: #EBEBEB;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}