<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Programmer Fox Club</title>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
<header th:fragment="standardHeader">
    <div>
        <button class="headerButtons"><a href="/index">Homepage</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/nutrition">Nutrition Store</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/login">LogIn</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/signup">SignUp</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/logout">LogOut</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/delete">DeleteFox</a></button>
    </div>
    <div>
        <button class="headerButtons"><a href="/save">Save your progress!</a></button>
    </div>
</header>

</body>
</html>