<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Programmer Fox Club</title>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
<header th:replace="~{fragments::standardHeader}"></header>

<h1>Welcome to Programmer Fox Club!</h1>

<div>
    <img src="/files/greenfox.png" alt="GreenFox icon" id="greenFoxIcon">
    <p>You are currently not logged in, so there are no details about the fox available.</p>
    <h3><a href="/login" style="color: red;">Login HERE!</a></h3>
</div>
</body>
</html>