<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
<header th:replace="~{fragments::standardHeader}"></header>
<h1>Welcome to Trick Centre!</h1>
<div th:unless="${successfulSign == true}">
    <p>Unfortunately, You are currently <span style="font-size: larger; color: red; font-weight: bold;">Not Logged In!</span> Therefore you can't train your fox any new tricks!!!</p>
    <ul>
        <li>If you already have a registered name, please use it in the <a href="/login" style="font-size: larger; font-weight: bold;">LogIn</a> page</li>
        <li>Otherwise simply <a href="/signup" style="font-size: larger; font-weight: bold;">SignUp!</a></li>
    </ul>
</div>

<div th:if="${successfulSign == true}">
    <p th:inline="text">In this page you can teach your fox <strong style="color:#ff0000;text-transform: uppercase;">[[${name}]]</strong> new tricks...Great!!!</p>
    <p th:inline="text">Actually, [[${name}]] knows following tricks:</p>

    <div th:unless="${noKnownTricks == true}">
        <ul th:each="trick:${tricks}">
            <li th:text="${trick}">write HTML</li>
        </ul>
    </div>

    <div th:if="${noKnownTricks == true}">
        <ul>
            <li th:inline="text">Unfortunately, <strong>[[${name}]] does not know any tricks yet!</strong> Go and learn some!</li>
        </ul>
    </div>

    <form action="/tricks" method="post">

        <p style="font-size: larger;"><label type="text" th:inline="text">Teach [[${name}]] some <strong>new trick!</strong></label></p>

            <select name="teachTricks" id="teachTricks" required>
                <option>-</option>
                <option th:each="element:${tricksToLearn}" th:value="${element}"
                    th:text="${element.toLowerCase()}"></option>
        </select>

        </br>
        </br>


        <p style="font-size: larger;"><label type="text" th:inline="text">Does [[${name}]] already know too much? <strong>Forget some trick!</strong></label></p>

            <select name="forgetTricks" id="forgetTricks" required>
                <option>-</option>
                <option th:each="element:${knownTricks}" th:value="${element}"
                    th:text="${element.toLowerCase()}"></option>
        </select>
        </br>

        <button type="submit">Save the tricks!</button>

    </form>

</div>

</body>
</html>