<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>LogIn to Reddit</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="style_login.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>

<div class="wrapper fadeInDown">
    <h2 th:unless="${wrongLogin}">Please, first LogIn!</h2>
    <div th:if="${wrongLogin}">
        <h2 ><strong style="color: red">LogIn not successfull!</strong></h2>
        <p>Please try again or <a href="/signUp">Sign UP</a>!!!</p>
    </div>

    <div id="formContent">
        <form action="/login" method="post">
            <input type="email" id="login" class="fadeIn second" name="userEmail" placeholder="@mail" required>
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="/signUp">A new user? Sign UP!</a>
        </div>
    </div>
</div>

</body>
</html>