body {
    background-color: mistyrose;
}

form {
    width: 500px;
}

.inputField {
    display: flex;
    justify-content: space-between;
}

#buttons {
    text-align: right;
    margin-top: 10px;
}