<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/styleIndex.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Navigation & Header</title>
</head>
<body>

<div th:unless="${hideStandardMenu == true}">
    <header th:replace="~{header :: standardHeader}"></header>
</div>
<div th:if="${hideStandardMenu == true}">
    <header th:replace="~{header :: extendedHeader}"></header>
</div>

<div th:unless="${hideSearchBar == true}">
    <form th:replace="~{search-bar :: searchBar}"></form>
</div>
<div th:if="${hideSearchBar == true}">
    <form th:replace="~{search-bar :: filterByPrice}"></form>
</div>


<div th:unless="${hideMainTable == true}">
    <table th:replace="~{table::dataTable}"></table>
</div>

<div th:if="${showItemDetail == true}" th:text="${sentence}" id="stockSentence"></div>

</body>
</html>