<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="style.css" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>

<h2><a href="/useful/colored">Colored Background</a></h2>

<form action="/useful/email" method="post">
    <h1>Email validator</h1>
    <div>
        <input type="text" name="emailInput" placeholder="enter some email">
        <button type="submit" th:style="${EmailFormatStyle}">Verify email</button>
    </div>
    <p th:utext="${EmailFormatResponse}"></p>
</form>

<form action="" method="post">
    <h1>Caesar encoder/decoder</h1>
    <div class="inputs">
        <div class="inputField">
            <label for="inputfield">Enter the word to be encoded/decoded</label>
            <input type="text" placeholder="word/sentece" id="inputfield" name="word" required>
        </div>
        <div class="inputField">
            <label for="cipher">Enter the Caesar number (it shifts letters by ?)</label>
            <input type="number" placeholder="caesar number" id="cipher" name="ciphre" required>
        </div>
    </div>
    <div class="submit" id="buttons">
        <button type="submit" formaction="/useful/encode" name="encoderButton">Encoder</button>
        <button type="submit" formaction="/useful/decode" name="decoderButton">Decoder</button>
    </div>
    <p th:utext="${cipherResult}"></p>
</form>

</body>
</html>