<!DOCTYPE html>
<html class="full-height" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add post</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/style.css" rel="stylesheet">
    <link th:href="style_login.css" rel="stylesheet">

    <meta charset="UTF-8"/>
</head>
<body>
<div th:replace="~{fragments::header}"></div>

<div class="wrapper fadeInDown">

    <h2 >View Post Details!</h2>

    <div id="formContent">

        <form action="#" th:action="@{/}" method="get" th:object="${viewPost}">
            <input type="text" class="fadeIn second" name="title" th:field="*{likes}" readonly>
            <input type="text" class="fadeIn second" name="title" th:field="*{title}" readonly>
            <input type="text" class="fadeIn second" name="postDesc" th:field="*{postDesc}" readonly>
            <input type="text" class="fadeIn second" name="postDesc" th:field="*{owner.userName}" readonly>
            <input type="text" class="fadeIn second" name="postDesc" th:field="*{creationDate}" readonly>
            <input type="submit" class="fadeIn fourth" value="Back to HomePage">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="/">Dont want to see the Post anymore? Back to HOMEPAGE!</a>
        </div>

    </div>

</div>

</body>
</html>