<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="style.css">
    <title>The Bank of Simba</title>
</head>
<body>
<header>The State Bank of Simba</header>
<form action="/addMoney" class="add-money-form" method="post">
    <div>
        <label for="name">Add money to your favourite hero!!!<br>
        (+10 - animal; +100 - King)</label></div>
    <div>
        <input id="name" name="name" placeholder="enter name of animal" type="text">
        <button>Add money</button>
    </div>
    <div class="newUser">
        <a href="/addUser">Or add a new banking account!</a>
    </div>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Cash</th>
        <th>Animal type</th>
        <th>Animal index</th>
        <th>King or not</th>
        <th>Bad/Good Guy</th>
    </tr>
    <tr th:class="${account.king} ? 'shiny' : 'standard'" th:each="account:${accounts}">
        <td th:text="${account.name}"/>
        <td th:text="${#numbers.formatDecimal(account.balance, 1, 2, 'POINT')} + ' Zebra'"/>
        <td th:text="${account.animalType}"/>
        <td th:text="${accountStat.index}+1" id="index"/>
        <td th:text="${account.king} ? 'King' : 'Not a King'"/>
        <td th:switch="${account.badGuy}">
            <p th:case="true">is bad guy</p>
            <p th:case="false">law abiding animal</p>
        </td>
    </tr>
</table>
</body>
</html>