<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="style.css">
    <title>Show one account</title>
</head>
<body>
<form action="/addMoney" method="post" class="add-money-form" >
    <div>
        <label for="name">Add money to your favourite hero!!!</label>
        <input type="text" id="name" name="name">
        <button>Add</button>
    </div>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Cash</th>
        <th>Animal type</th>
        <th>Animal index</th>
        <th>King or not</th>
        <th>Bad/Good Guy</th>
    </tr>
    <tr th:each="account:${accounts}" th:class="${account.isKing} ? 'shiny' : 'standard'">
        <td th:text="${account.name}"/>
        <td th:text="${#numbers.formatDecimal(account.balance, 1, 2, 'POINT')} + ' Zebra'"/>
        <td th:text="${account.animalType}"/>
        <td th:text="${accountStat.index}+1"/>
        <td th:text="${account.isKing} ? 'King' : 'Not a King'"/>
        <td th:switch="${account.isBadGuy}">
            <p th:case="true">is bad guy</p>
            <p th:case="false">law abiding animal</p>
        </td>
    </tr>
</table>
</body>
</html>